{% extends 'social_network/layouts/main-layout.html' %}
{% block title %}
Post feed
{% endblock %}
{% load widget_tweaks %}

{% block body %}
<br>
<div class="container">
    {% for post in all_posts %}
        <div class="container border border-secondary rounded"  style="max-width: 900px; margin-left: 0">
            <div class="p-3">
                <a class="h4" style="margin-left: 30px"> {{ post.title }}</a>
                <small class="text text-muted" style="float: right">{{ post.published_date }} </small>
                <div class="p-2">
                    <p>{{ post.text }}</p>
                </div>
                <div class="p-3">

                    <a>Likes: {{ post.total_likes }}</a>
                    {% if post.dislike_check %}
                    <form action="{% url 'dislike_post' post.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn-sm btn-primary" type="submit">Dislike</button>
                    </form>
                    {% else %}
                    <form action="{% url 'like_post' post.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn-sm btn-primary" type="submit">Like</button>
                    </form>
                    {% endif %}
                <p class="h8" style="float: right; margin-top: -20px">Author: <a class="link-primary text-decoration-none h6" href="">{{ post.author }}</a></p>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}