@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  counter-reset: section;
}

#btn-login {
  margin-left: auto;
  margin-right: 0;
}

table tbody tr th::before {
    counter-increment: section;
    content: "Section " counter(section);
}

table tbody tr th::before {
    content: counter(section);
}

.actv {
    background: grey;
    color: black;
}